<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Edit <%= user.username %></h2>

        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <!--  -->
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-5">
        <form action="/users/<%= user._id %>?_method=PUT" method="POST">
          <div class="mb-3">
            <label for="employeeNumber" class="form-label"
              >Employee Number:</label
            >
            <input
              type="number"
              name="employeeNumber"
              class="form-control"
              id="employeeNumber"
              value="<%= user.employeeNumber %>"
            />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input
              type="text"
              name="username"
              id="username"
              class="form-control"
              value="<%= user.username %>"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">New Password:</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="confirmPassword"
              >Confirm New Password:</label
            >
            <input
              class="form-control"
              type="password"
              name="confirmPassword"
              id="confirmPassword"
            />
          </div>
          <div class="mb-3">
          <label class="form-label" for="role">User Role:</label>
          <select class="form-select" name="role" id="role">
            <option value="worker" <%= user.role =='worker'? "selected" : "" %>>Worker</option>
            <option value="supervisor" <%= user.role =='supervisor'? 'selected' : "" %>>Supervisor</option>
            <option value="admin" <%= user.role =='admin'? 'selected' : "" %>>Admin</option>
          </select>
          <br />

          <button class="btn btn-success" type="submit">Save Employee</button>
        </form>
      </div>
    </div>
  </div>
</section>
