<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xxl-7">
        <div class="row gy-3 mb-3">
          <div class="col-6">
            <h2 class="text-uppercase text-endx m-0">
              Bill No.: <%= bill.billNo %>
            </h2>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-sm-6 col-md-6">
            <h4>Bill To</h4>
            <address>
              <strong><%= bill.car.carNumber %></strong><br />
              <%= bill.car.make %><br />
              <%= bill.car.model %><br />
              <%= bill.car.ownerName %><br />
              Phone: <%= bill.car.contactNumber %><br />
            </address>
          </div>
          <div class="col-12 col-sm-6 col-md-6">
            <h4 class="row">
              <span class="col-6">Worker: </span>
              <span class="col-6 text-sm-end"
                ><%= bill.createdBy.username %></span
              >
            </h4>
            <div class="row">
              <span class="col-6">Employee No</span>
              <span class="col-6 text-sm-end"
                ><%= bill.createdBy.employeeNumber %></span
              >
              <span class="col-6">Payment Date</span>
              <% if (typeof bill.paymentDate !== 'undefined'){ %>
              <span class="col-6 text-sm-end"
                ><%=bill.paymentDate.toDateString() %></span
              >
              <% } else { %>
              <span class="col-6 text-sm-end">Not Paid!</span>
              <% } %>
              <span class="col-6">Payment Status</span>
              <span class="col-6 text-sm-end"><%= bill.paymentStatus %></span>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-uppercase">Service</th>
                    <th scope="col" class="text-uppercase text-end">Amount</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <td class="col-4"><%= bill.service.serviceName %></td>
                    <td style="width: 100%" class="col-8 text-end">
                      <%= bill.amount %>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row" class="text-uppercase text-end col-10">
                      Total
                    </th>

                    <td class="text-end col-2">BD <%= bill.amount %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-end">
            <!--  -->

            <!--  -->
            <% if (bill.paymentStatus == 'Pending') {%>

            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-success mb-3"
              data-bs-toggle="modal"
              data-bs-target="#amountModal"
            >
              Pay
            </button>

            <!-- Modal -->
            <div
              class="modal fade"
              id="amountModal"
              tabindex="-1"
              aria-labelledby="amountModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <form
                    class="form-container"
                    action="/bills/<%= bill._id %>/Paid?_method=PUT"
                    method="POST"
                  >
                    <div class="modal-header">
                      <h5 class="modal-title" id="amountModalLabel">
                        Bill No: <%= bill.billNo %>
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <!--  -->

                      <label for="amount"><b>Amount</b></label>
                      <input
                        type="number"
                        placeholder="Enter Amount"
                        name="amount"
                        required
                      />

                      <!--  -->
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-success">
                        Save changes
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="form-popup" id="myForm"></div>
            <form
              action="/bills/<%= bill._id %>/Canceled?_method=PUT"
              method="POST"
            >
              <button type="submit" class="btn btn-danger mb-3">
                Cancel Bill
              </button>
            </form>

            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
