<div class="container mt-5 mb-3">
  <div class="row">
    <!-- <div class="col-sm-3 mb-3 mb-lg-5"> -->
    <!--  -->
    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= car.carNumber %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Plate Number</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= car.make %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Make</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= car.model %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Model</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= car.color %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Color</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= car.ownerName %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Owner Name</h6>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card p-3 mb-2">
        <div class="card-body">
          <h5 class="card-title"><%= car.contactNumber %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Phone</h6>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- </div> -->
  </div>
  <div class="row">
    <a href="/cars/<%= car._id %>/edit">Edit this car</a>
    <form action="/cars/<%= car._id %>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash"></i> Delete this car
      </button>
    </form>
  </div>
</div>
